
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.RemotedSystemsTempFiles/

**/.mvn
**/target
**/.classpath
**/.project
**/mvnw
**/mvnw.cmd
**/node_modules